:root {
  --background: 213.263287243 18.31472185% 98.105837675%;
  --foreground: 213.152100835 9.577990173% 17.307033429%;
  --card: 213.247507524 14.562027909% 91.773394724%;
  --card-foreground: 213.152100835 9.577990173% 17.307033429%;
  --popover: 213.258609312 13.552836399% 95.544042262%;
  --popover-foreground: 213.152100835 9.577990173% 17.307033429%;
  --primary: 210.523575988 76.047481625% 42.856682737%;
  --primary-foreground: 203.275541465 100% 97.894231986%;
  --secondary: 20.110060152 73.656111112% 38.670068042%;
  --secondary-foreground: 21.441120785 100% 97.795297436%;
  --muted: 213.258609312 13.552836399% 95.544042262%;
  --muted-foreground: 213.153600077 8.404720802% 31.809369935%;
  --accent: 213.237507636 14.154704143% 88.010715828%;
  --accent-foreground: 213.152100835 9.577990173% 17.307033429%;
  --destructive: 334.320204919 49.086122804% 52.000016068%;
  --border: 213.214635414 11.724516021% 77.416654281%;
  --input: 213.156138219 7.782184949% 48.714652233%;
  --ring: 210.870812793 71.227432273% 49.116009109%;
  --chart-1: 211.086456417 71.997219373% 33.375268267%;
  --chart-2: 296.85510195 60.639490605% 20.220287461%;
  --chart-3: 13.990697831 35.847240654% 39.929606303%;
  --chart-4: 60.017884611 88.033391834% 14.494369313%;
  --chart-5: 170.88395246 43.513919542% 36.013319085%;
  --sidebar: 213.258609312 13.552836399% 95.544042262%;
  --sidebar-foreground: 213.152100835 9.577990173% 17.307033429%;
  --sidebar-primary: 210.523575988 76.047481625% 42.856682737%;
  --sidebar-primary-foreground: 203.275541465 100% 97.894231986%;
  --sidebar-accent: 213.237507636 14.154704143% 88.010715828%;
  --sidebar-accent-foreground: 213.152100835 9.577990173% 17.307033429%;
  --sidebar-border: 213.214635414 11.724516021% 77.416654281%;
  --sidebar-ring: 210.870812793 71.227432273% 49.116009109%;
  --destructive-foreground: none 0% 100%;
  --destructive-muted: 338.019560458 99.999999999% 90.495993758%;
  --destructive-muted-foreground: 333.922192176 55.630411289% 18.614164403%;
  --success: 167.664961856 99.999999997% 28.722345943%;
  --success-foreground: none 0% 0%;
  --success-muted: 161.69572094 63.867357761% 81.907225921%;
  --success-muted-foreground: 164.167254506 100% 10.757122814%;
  --warning: 24.203613367 99.999999999% 34.414849872%;
  --warning-foreground: 20.033224818 100% 95.336623083%;
  --warning-muted: 20.150305771 100% 87.008112043%;
  --warning-muted-foreground: 20.342227945 99.999999996% 14.798819035%;
  --info: 200.73578064 99.999999996% 39.516270008%;
  --info-foreground: none 0% 0%;
  --info-muted: 200.507298264 100% 86.1085215%;
  --info-muted-foreground: 204.251509559 99.999999987% 15.587079734%;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background: 213.868416288 7.542424059% 2.892036006%;
    --foreground: 213.231217816 16.192501672% 87.442748087%;
    --card: 213.179560578 8.509938253% 9.678008002%;
    --card-foreground: 213.231217816 16.192501672% 87.442748087%;
    --popover: 213.200399605 7.750368221% 6.121710171%;
    --popover-foreground: 213.231217816 16.192501672% 87.442748087%;
    --primary: 211.439280373 76.687035378% 54.673568568%;
    --primary-foreground: 217.302851626 54.584079543% 3.426176859%;
    --secondary: 19.115864286 61.156147804% 49.952559201%;
    --secondary-foreground: 13.851187564 52.457512328% 3.143021431%;
    --muted: 213.200399605 7.750368221% 6.121710171%;
    --muted-foreground: 213.203686438 10.994946676% 72.507053299%;
    --accent: 213.163473744 9.159272008% 13.415637273%;
    --accent-foreground: 213.231217816 16.192501672% 87.442748087%;
    --destructive: 334.929577916 55.571575288% 57.174790478%;
    --border: 213.152995794 8.83280879% 24.381082737%;
    --input: 213.1560588 7.94463513% 40.663541571%;
    --ring: 211.439280373 76.687035378% 54.673568568%;
    --chart-1: 211.193205266 72.456956789% 51.932550215%;
    --chart-2: 297.17317573 39.142034681% 45.193152622%;
    --chart-3: 14.106247969 78.884173344% 60.035090452%;
    --chart-4: 60.783695237 38.301369348% 50.515140467%;
    --chart-5: 171.2016201 62.651676225% 57.784260133%;
    --sidebar: 213.200399605 7.750368221% 6.121710171%;
    --sidebar-foreground: 213.231217816 16.192501672% 87.442748087%;
    --sidebar-primary: 211.439280373 76.687035378% 54.673568568%;
    --sidebar-primary-foreground: 217.302851626 54.584079543% 3.426176859%;
    --sidebar-accent: 213.163473744 9.159272008% 13.415637273%;
    --sidebar-accent-foreground: 213.231217816 16.192501672% 87.442748087%;
    --sidebar-border: 213.152995794 8.83280879% 24.381082737%;
    --sidebar-ring: 211.439280373 76.687035378% 54.673568568%;
    --destructive-foreground: 337.843956442 42.194056535% 6.864432875%;
    --destructive-muted: 334.998007425 51.769810836% 14.643222524%;
    --destructive-muted-foreground: 335.920963198 99.999999999% 89.457768867%;
    --success: 167.851731075 99.999999997% 31.413511195%;
    --success-foreground: 163.536785049 99.999999979% 8.437002373%;
    --success-muted: 163.536785049 99.999999979% 8.437002373%;
    --success-muted-foreground: 162.218844766 69.844828955% 79.77108095%;
    --warning: 21.233673768 73.271550335% 47.549722072%;
    --warning-foreground: 18.680321918 75.785719541% 9.122636303%;
    --warning-muted: 19.633674608 88.703766881% 12.015924099%;
    --warning-muted-foreground: 21.306894099 100% 85.269215069%;
    --info: 200.331479997 100% 42.862917803%;
    --info-foreground: 202.461976907 96.928100885% 8.444850151%;
    --info-muted: 203.397548552 99.999999985% 11.86498143%;
    --info-muted-foreground: 198.203063449 100% 84.062233595%;
  }
}
[data-theme="light"] {
  --background: 213.263287243 18.31472185% 98.105837675%;
  --foreground: 213.152100835 9.577990173% 17.307033429%;
  --card: 213.247507524 14.562027909% 91.773394724%;
  --card-foreground: 213.152100835 9.577990173% 17.307033429%;
  --popover: 213.258609312 13.552836399% 95.544042262%;
  --popover-foreground: 213.152100835 9.577990173% 17.307033429%;
  --primary: 210.523575988 76.047481625% 42.856682737%;
  --primary-foreground: 203.275541465 100% 97.894231986%;
  --secondary: 20.110060152 73.656111112% 38.670068042%;
  --secondary-foreground: 21.441120785 100% 97.795297436%;
  --muted: 213.258609312 13.552836399% 95.544042262%;
  --muted-foreground: 213.153600077 8.404720802% 31.809369935%;
  --accent: 213.237507636 14.154704143% 88.010715828%;
  --accent-foreground: 213.152100835 9.577990173% 17.307033429%;
  --destructive: 334.320204919 49.086122804% 52.000016068%;
  --border: 213.214635414 11.724516021% 77.416654281%;
  --input: 213.156138219 7.782184949% 48.714652233%;
  --ring: 210.870812793 71.227432273% 49.116009109%;
  --chart-1: 211.086456417 71.997219373% 33.375268267%;
  --chart-2: 296.85510195 60.639490605% 20.220287461%;
  --chart-3: 13.990697831 35.847240654% 39.929606303%;
  --chart-4: 60.017884611 88.033391834% 14.494369313%;
  --chart-5: 170.88395246 43.513919542% 36.013319085%;
  --sidebar: 213.258609312 13.552836399% 95.544042262%;
  --sidebar-foreground: 213.152100835 9.577990173% 17.307033429%;
  --sidebar-primary: 210.523575988 76.047481625% 42.856682737%;
  --sidebar-primary-foreground: 203.275541465 100% 97.894231986%;
  --sidebar-accent: 213.237507636 14.154704143% 88.010715828%;
  --sidebar-accent-foreground: 213.152100835 9.577990173% 17.307033429%;
  --sidebar-border: 213.214635414 11.724516021% 77.416654281%;
  --sidebar-ring: 210.870812793 71.227432273% 49.116009109%;
  --destructive-foreground: none 0% 100%;
  --destructive-muted: 338.019560458 99.999999999% 90.495993758%;
  --destructive-muted-foreground: 333.922192176 55.630411289% 18.614164403%;
  --success: 167.664961856 99.999999997% 28.722345943%;
  --success-foreground: none 0% 0%;
  --success-muted: 161.69572094 63.867357761% 81.907225921%;
  --success-muted-foreground: 164.167254506 100% 10.757122814%;
  --warning: 24.203613367 99.999999999% 34.414849872%;
  --warning-foreground: 20.033224818 100% 95.336623083%;
  --warning-muted: 20.150305771 100% 87.008112043%;
  --warning-muted-foreground: 20.342227945 99.999999996% 14.798819035%;
  --info: 200.73578064 99.999999996% 39.516270008%;
  --info-foreground: none 0% 0%;
  --info-muted: 200.507298264 100% 86.1085215%;
  --info-muted-foreground: 204.251509559 99.999999987% 15.587079734%;
}
[data-theme="dark"] {
  --background: 213.868416288 7.542424059% 2.892036006%;
  --foreground: 213.231217816 16.192501672% 87.442748087%;
  --card: 213.179560578 8.509938253% 9.678008002%;
  --card-foreground: 213.231217816 16.192501672% 87.442748087%;
  --popover: 213.200399605 7.750368221% 6.121710171%;
  --popover-foreground: 213.231217816 16.192501672% 87.442748087%;
  --primary: 211.439280373 76.687035378% 54.673568568%;
  --primary-foreground: 217.302851626 54.584079543% 3.426176859%;
  --secondary: 19.115864286 61.156147804% 49.952559201%;
  --secondary-foreground: 13.851187564 52.457512328% 3.143021431%;
  --muted: 213.200399605 7.750368221% 6.121710171%;
  --muted-foreground: 213.203686438 10.994946676% 72.507053299%;
  --accent: 213.163473744 9.159272008% 13.415637273%;
  --accent-foreground: 213.231217816 16.192501672% 87.442748087%;
  --destructive: 334.929577916 55.571575288% 57.174790478%;
  --border: 213.152995794 8.83280879% 24.381082737%;
  --input: 213.1560588 7.94463513% 40.663541571%;
  --ring: 211.439280373 76.687035378% 54.673568568%;
  --chart-1: 211.193205266 72.456956789% 51.932550215%;
  --chart-2: 297.17317573 39.142034681% 45.193152622%;
  --chart-3: 14.106247969 78.884173344% 60.035090452%;
  --chart-4: 60.783695237 38.301369348% 50.515140467%;
  --chart-5: 171.2016201 62.651676225% 57.784260133%;
  --sidebar: 213.200399605 7.750368221% 6.121710171%;
  --sidebar-foreground: 213.231217816 16.192501672% 87.442748087%;
  --sidebar-primary: 211.439280373 76.687035378% 54.673568568%;
  --sidebar-primary-foreground: 217.302851626 54.584079543% 3.426176859%;
  --sidebar-accent: 213.163473744 9.159272008% 13.415637273%;
  --sidebar-accent-foreground: 213.231217816 16.192501672% 87.442748087%;
  --sidebar-border: 213.152995794 8.83280879% 24.381082737%;
  --sidebar-ring: 211.439280373 76.687035378% 54.673568568%;
  --destructive-foreground: 337.843956442 42.194056535% 6.864432875%;
  --destructive-muted: 334.998007425 51.769810836% 14.643222524%;
  --destructive-muted-foreground: 335.920963198 99.999999999% 89.457768867%;
  --success: 167.851731075 99.999999997% 31.413511195%;
  --success-foreground: 163.536785049 99.999999979% 8.437002373%;
  --success-muted: 163.536785049 99.999999979% 8.437002373%;
  --success-muted-foreground: 162.218844766 69.844828955% 79.77108095%;
  --warning: 21.233673768 73.271550335% 47.549722072%;
  --warning-foreground: 18.680321918 75.785719541% 9.122636303%;
  --warning-muted: 19.633674608 88.703766881% 12.015924099%;
  --warning-muted-foreground: 21.306894099 100% 85.269215069%;
  --info: 200.331479997 100% 42.862917803%;
  --info-foreground: 202.461976907 96.928100885% 8.444850151%;
  --info-muted: 203.397548552 99.999999985% 11.86498143%;
  --info-muted-foreground: 198.203063449 100% 84.062233595%;
}
